.container-fluid{
  width: 90%;
}
.align-items-center{
  -ms-flex-align: center!important;
  align-items: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.download{
  a{
    border-radius: 100px;
    border: 1px solid #ccc;
        color: $primary_color !important;
        min-width: 200px;
        text-align: center;
            padding: 15px 10px !important;
  }

}
#hero{
  h3{
    z-index: 5;
    white-space: nowrap;
    line-height:100%;
    font-size:3.25rem;
    color: white;
    position: relative;
    font-weight: 700;
    font-family: $general_font_family;
    letter-spacing: -1px;
    span{
      color: $primary_color;
    }
  }
  .tp-bullets{
    left: 5% !important;
  }

}

.download-app{
  &.bg-solid{
    background-color: #f7f7f7;
    h2{
      font-size: 3.25rem;
      color: $general_font_color;
      font-weight: 700;
      span{
        color: $primary_color;
      }
    }
    .app-content {
      position: relative;
      text-align: center;
      z-index: 9;
      p{
        font-size: 1.75rem;
        font-family: $secundary_font_family;
        color: $sublines_color;
        margin-bottom: 75px;
      }
      .btn{
        box-shadow: 0px 0px 8px 0px rgba(221,221,221,0.75);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(221,221,221,0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(221,221,221,0.75);
        border-radius: 0;
        position: relative;
        font-size: 1.75rem;
        color: $sublines_color;
        text-align: left;
        font-weight: 400;
        text-transform: uppercase;
        padding: 20px;
        padding-left: 85px;
        margin-left: 20px;
        span{
          font-size: 2.75rem;
          color: $general_font_color;
          text-transform: none;
        }
        &.btn-icon-1{
          &::before{
            height: 55px;
            width: 55px;
            content: "";
            background: url(../images/google-play.png);
            top: 22px;
            left: 16px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &.btn-icon-2{
          &::before{
            height: 55px;
            width: 55px;
            content: "";
            background: url(../images/mac-app-store.png);
            top: 22px;
            left: 16px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
        &.btn-icon-3{
          &::before{
            height: 55px;
            width: 55px;
            content: "";
            background: url(../images/app-store.png);
            top: 22px;
            left: 16px;
            position: absolute;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
.info{
  h2{
    font-size: 3.25rem;
    color: $general_font_color;
    font-weight: 700;
    span{
      color: $primary_color;
    }
  }
    p{
      font-size: 1.75rem;
      font-family: $secundary_font_family;
      color: $sublines_color;
      text-transform: uppercase;
      line-height: 32px;
    }
}
