
// Make sure the charset is set appropriately
@charset "UTF-8";

$rtl: 0;
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,700,900);
@font-face {
	font-family: 'MyriadPro';
	src: url('fonts/MyriadPro-Regular.eot');
	src: url('../fonts/MyriadPro-Regular.otf')  format('opentype'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import "config/config_skin";
@import "typography";
@import "config_theme";
@import "theme/theme-main";
@import "work_in_progress";
@import "responsive";
