
//SKIN

//General
$general_bg_color: #f2f2f2;
$general_bg_image: url('');
$general_bg_repeat: no-repeat;
$general_bg_osition: center center;
$general_bg_size: inherit;
$general_bg_attachment: inherit;
$general_font_family: 'Poppins', sans-serif;
$secundary_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$general_font_weight: 400;
$general_font_size: 14px;
$general_font_color: #000000;
$general_line_height: 23px;
$primary_color: #1eb858;
$highlight_color: #700877;
$sublines_color: #abafb8;
