/**
 * 7.15 Accordion
 */
.choose-riven{
	position: relative;
	overflow: hidden;
	padding-bottom: 72px;
	width: 100%;
	height: 100%;
	.image-choose{
		bottom: -20px;
	    left: -165px;
	    position: absolute;
	    z-index: -1;
		&.wpb_single_image img{
			max-width: 100%;
		}
	}
}
.panel-heading{
	padding:0;
}
.panel-title{
	padding:15px 26px 19px;
	position: relative;
	img{
		max-width: 40px;
		vertical-align: middle;
	}
	.fas{
		float: right;
		color:#abafb8;
		vertical-align: middle;
		padding-top: 15px;
	}
	img{
		margin-right: 15px;
	}
	a{
		color: $general_font_color;
		font-size: 2rem;
		font-weight: 400;
		font-family: $secundary_font_family;
	}
	&.active{
		background:#fff;
		padding-top: 30px;

		a{
			color: $primary_color;
			font-weight: 700;
		}
		&:before{
			content: "";
	 		position: absolute;
	 		width: 100%;
	 		height: 3px;
	 		top:0;
	 		left: 0;

		}
	}
}
.panel-default > .panel-heading{
	border-radius: 0;
	border:none;
	background-color: white;
	box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
}
.panel-group .panel-default{
	border:none;
	margin-bottom: 14px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
	top: 1px solid #e1e1e1;
	box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
	-moz-box-shadow: 0px 0px 8px 0px rgba(221, 221, 221, 0.75);
	border-top: none;
	padding: 6px 26px 25px;
	p{
		line-height: 22px;
		margin: 0;
		text-transform: none;
		font-size: 1.5rem;
		padding-top: 15px;
	}
}
