/**
 * Features
 */
.features {
	.bg-color{
		background-color: $primary_color;
		position: absolute;
		width: 100%;
		height: 400px;
		left: 0;
		margin-top: 30%;
		-webkit-transform: skewY(-30deg) scaleY(0.8);
		-moz-transform: skewY(-30deg) scaleY(0.8);
		-ms-transform: skewY(-30deg) scaleY(0.8);
		transform: skewY(-30deg) scaleY(0.8);
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20) inset;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20) inset;
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20) inset;
		z-index: -1;
	}
	.title-block {
	  padding-bottom: 50px;
		h2{
      font-size: 3.25rem;
      color: $general_font_color;
      font-weight: 700;
      span{
        color: $primary_color;
      }
    }
      p{
        font-size: 1.75rem;
        font-family: $secundary_font_family;
        color: $sublines_color;
				text-transform: uppercase;
				line-height: 32px;
      }
	}
	.content{
		ul{
			li{
				font-family: $secundary_font_family;
				margin-bottom: 20px;
				font-size: 2rem;
				color: $general_font_color;
				&::before{
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
					color: $primary_color;
					padding-right: 15px;
				}
			}
		}
	}

}
