/**
 screenshots
 */
.title-block h2{
	margin-top: 0;
	margin-bottom: 13px;
}
.screenshots{
	text-align: center;
	h2{
    font-size: 3.25rem;
    color: $general_font_color;
    font-weight: 700;
    span{
      color: $primary_color;
    }
  }
    p{
      font-size: 1.75rem;
      font-family: $secundary_font_family;
      color: $sublines_color;
      text-transform: uppercase;
      line-height: 32px;
    }
	.ubtn {
	  border-radius: 20px;
	  border: medium none;
	  font-size: 14px;
	  padding: 10px 30px 10px;
	  position: relative;
	  z-index: 15;
	  line-height: 1.4em;
	  text-transform: capitalize;
	  color: #fff !important;
	  &:hover{
	  	background: #700877 ;
	  }
	}
	.wpb_content_element {
	  margin-bottom: 19px;
	}
	.refresh-img{
	  margin-bottom: -70px;
	  margin-top: -50px;
	  position: relative;
	  z-index: 1;
	}
}
.refresh-phone-content{
	text-align: center;
}
