@charset "UTF-8";
.mega-menu > li.opn-active-menu > a, .rev_slider_wrapper .text-bg, .features .smile_icon_list.with_bg .icon_list_item:hover .icon_list_icon, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel.vc_active .vc_tta-panel-title > a, .services .vc_icon_element-inner span {
  color: #599ba9 !important;
}
.panel-title.active a,
.header-v1 .header-top .mega-menu li a:hover, .header-sticky .main-navigation ul li.opn_active_menu > a, .contact-info > ul > li > a:hover, .load-more .fa-spinner, .loadmore .fa-spinner, .app_screenshot .screen-default h3, .comments-area .reply a:hover, .time-desc .letter, .time-desc .hours, .name_author, .tagcloud a:hover, .widget_post_blog .blog-item:hover .post-name a, .button-readmore a, .blog-main:hover .title_blog a, .event-2 .load-more a, .event-2 .row-event:hover .event_post_content .title-eventpost a, .event-2 .row-event:hover .event_post_date, .event-2 .row-event:hover .event_post_content .detail, .header-sticky .main-navigation ul li > a:hover, a:hover, .scroll-to-top, .pricing-content:hover h3, .pricing-sign .btn, .pricing-list li.erro i, .pricing-content .price-center span, .load-more a, .row-event:hover .event_post_date, .row-event:hover .event_post_content .detail {
  color: #599ba9;
}
.mega-menu > li > a::before, .app_screenshot .screen-default a:hover, .app_screenshot .screen-default a:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active:focus, .btn-default:focus:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus:active, .btn.btn-icon:hover, .btn.btn-icon:focus, .btn.btn-icon:active, .btn.btn-icon:active:focus, .btn.btn-icon:focus:active, .app_screenshot .tp-bullet:hover, .app_screenshot .tp-bullet.selected, .app_screenshot .apps-default::before, .app_screenshot .screen-default a, .app_screenshot .screen-default h3::after, .calendar-time, .header, .gallery button.default:hover, .character_description blockquote::after, .scrollbar-inner.scrollbar-comment > .scroll-element .scroll-bar, .form-submit .btn-primary, .pagination li:hover .page-numbers, .pagination li .page-numbers.current, .footer-v2, .contact-2 .btn, .event-2 .row-event:hover .event_post_date::before, .blog-style:hover, .btn-primary, .pricing-content:hover .pricing-sign .btn, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus, .btn-default:focus:active, .row-event:hover .event_post_date::before, .amount-content .img-icon {
  background-color: #599ba9;
}
.video-home .bg-gradient::before,
table tr th, .header-v1, .avatar_author::before, .fixed-header .header.is-sticky .header-top, .footer-v1::after, .member-content:hover .member-img::before, .vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading, .vc_tta-panel.vc_active::before, .bg-gradient::before {
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #599ba9 0%, #b4c49d 100%, #b4c49d 100%) repeat scroll 0 0;
}
.side-breadcrumb::after {
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #b4c49d 0%, #599ba9 100%, #599ba9 100%) repeat scroll 0 0;
}
.get-app.bg-gradient::before,
.slotholder::before, .features.bg-gradient::before{
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #b4c49d 0%, #599ba9 100%, #599ba9 100%) repeat scroll 0 0;
}

.slider-1 .slotholder::before{
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, #b4c49d 0%, #599ba9 100%, #599ba9 100%) repeat scroll 0 0;
}
.panel-title,
.panel-title.active:before,
.features::after{
  background: rgba(0, 0, 0, 0) linear-gradient(45deg, #599ba9 -6%, #b4c49d 73%, #b4c49d 100%) repeat scroll 0 0;
}
.blog-main:focus .bg-gradient::before, 
.blog-item:focus .bg-gradient::before, 
.blog-main:hover .bg-gradient::before, 
.blog-item:hover .bg-gradient::before,
.blog-main .bg-gradient::before, 
.blog-item .bg-gradient::before,
.pricing-content .price::before{
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #599ba9 0%, #b4c49d 100%, #b4c49d 100%) repeat scroll 0 0;
}
.app_screenshot .tp-bullet:hover, .app_screenshot .tp-bullet.selected, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:hover, .btn-default:active:focus, .btn-default:active:focus, .btn-default:focus:active, .app_screenshot .screen-default h3::before, .comments-area .reply a:hover, .form-submit .btn-primary, .footer-v3 .blog-item:hover .blog-img, .pagination li:hover .page-numbers, .tagcloud a:hover, .pagination li .page-numbers.current, .button-readmore a, .contact-2 .btn, .event-2 .row-event:hover .event_post_content, .blog-style:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:focus:active, .btn-primary, .pricing-sign .btn {
  border: 1px solid #599ba9;
}
.icon-services .icon-inner span,
.tp-banner-container .text-bg{
  color: #599ba9 !important;
}
.app_screenshot .apps-default.active::after, .btn.btn-icon:hover, .btn.btn-icon:focus, .btn.btn-icon:active, .btn.btn-icon:active:focus, .btn.btn-icon:focus:active {
  border: 1px solid #599ba9 !important;
}
.scroll-to-top {
  border: 2px solid #599ba9;
}
.mega-menu > li > ul{
  border-top: 2px solid #599ba9;
}
.event-2 .event-content:nth-child(2n) .row-event:hover .event_post_content .event-thumb::after, .event-content:nth-child(2n) .row-event:hover .event_post_content .event-thumb::after {
  border-right-color: #599ba9;
}
.event-2 .row-event:hover .event_post_content .event-thumb::after, .row-event:hover .event_post_content .event-thumb::after {
  border-left-color: #599ba9;
}
.btn-primary:hover, .app_screenshot .screen-default a:hover {
  background: #b4c49d;
}
.btn-primary:hover {
  border: 1px solid #b4c49d;
}
.load-more a:hover {
  color: #b4c49d;
}
.wpcf7-form .contact-form .contact-submit .btn-default:hover, .wpcf7-form .contact-form .contact-submit .btn-default:focus, .wpcf7-form .contact-form .contact-submit .btn-default:active, .wpcf7-form .contact-form .contact-submit .btn-default:active:hover, .wpcf7-form .contact-form .contact-submit .btn-default:active:focus, .wpcf7-form .contact-form .contact-submit .btn-default:active:focus, .wpcf7-form .contact-form .contact-submit .btn-default:focus:active{
  background: #599ba9;
}
.wpcf7-form .contact-form .contact-submit .btn-default{
  color:#599ba9;
}
.btn-default{
	border:1px solid #599ba9;
}
.refresh-phone .ubtn:hover{
  background: #b4c49d ;
  border: none;
}
.app_screenshot .screen-default a:hover{
  background: #b4c49d;
}
.app_screenshot .tp-bullets .tp-bullet:hover, .app_screenshot .tp-bullets .tp-bullet.selected{
  border:1px solid #599ba9;
  background:  #599ba9;
}